/* main styles for global */
@import "/node_modules/modern-normalize/modern-normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@layer reset{

  /* start reset */
  *,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    width: var(--one-hundred-percent);
    height: var(--one-hundred-percent);
  }
  /* ends reset */

}


body{
  /* here, this img , i need recognize, in js, to be loaded */
  /* background-image:url('./imgs/gato-purple-1.gif'); */

  /* filter: brightness(0.2); */
  background-size: cover;
  /* background-size: contain; */
  background-position: left;
  /* background-repeat: no-repeat; */
  
}
body::before{
  content: '';
  /* background:  url('./imgs/fondo-negro-con-efectos.png'); */
  background-color: #24242476;
  position: absolute;
  z-index: 1;
  top: 0;  
  bottom: 0;
  left: 0;
  right: 0;
}

#app{
  width: var(--one-hundred-percent);
    height: var(--one-hundred-percent);
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  a{
  color: rgb(255, 255, 255);
    text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: rgb(174, 123, 255);
  }
  }
}
footer{
  width: var(--one-hundred-percent);
  background: rgb(73, 10, 132);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1.7rem;
}
#cookies_container{
  background: rebeccapurple;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  & img#equis_svg{
    --size-equis:1.7rem;
    width: var(--size-equis);
    height: var(--size-equis);
    /* position: static; */
    right: 0;
    float: right;
  }
 & a{
   color: white;
   text-decoration: underline;
   font-weight: bold;
 }
}
.vista{
  color: rgb(213, 168, 255);
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.cookies_message{
  --size-of-msg:50px;
  width:var(--size-of-msg);
  height:var(--size-of-msg);
  position: absolute;
  inset:0;
  z-index: 5;

  background: rgba(255, 255, 255, 0.459);
}
/* loading start */
.loading-container {
  position: absolute;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  height: var(--one-hundred-percent);
  width: 100vw;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* loading end */
#gif-cat:hover{
background-color:aqua ;
}