@import "/node_modules/modern-normalize/modern-normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* start reset */
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
}
/* ends reset */
a{
  text-decoration: none;
}

body{
  background-image:url('./imgs/gato-purple-1.gif');

  /* filter: brightness(0.2); */
  background-size: cover;
  /* background-size: contain; */
  background-position: left;
  /* background-repeat: no-repeat; */
}
body::before{
  content: '';
  /* background:  url('./imgs/fondo-negro-con-efectos.png'); */
  background-color: #24242476;
  position: absolute;
  z-index: 1;
  top: 0;  
  bottom: 0;
  left: 0;
  right: 0;
}

#app{
  width: var(--one-hundred-percent);
    height: var(--one-hundred-percent);
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
footer{
  width: var(--one-hundred-percent);
  background: rgb(73, 10, 132);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1.7rem;
}