img{
    width: 15%;
    background: white;
}
#links_container{
    background: purple;
    overflow-y: scroll;
    list-style: none;
    height: 100%;
}
.socials-elements{
    overflow: hidden;
    width: 90%;
    background-color: white;
    height:30px;
    margin-bottom: 10px;
    /* text-align: center; */
    display: inline-flex;
    flex-flow: column wrap;
    /* align-items: end; */
    justify-items: safe;
    
}
.p_socials{
    display: inline;
    color: black;
    /* margin: 5px; */
    /* place-self: center; */
    justify-self: center;
    /* align-self: self-end; */
    height: var(--one-hundred-percent);
}