img{
    width: 15%;
    background: white;
}
#links_container{
    overflow-y: scroll;
    background: purple;
    list-style: none;
    height: var(--one-hundred-percent);
    scroll-behavior: smooth;
    scrollbar-track-color: aqua;
    scrollbar-arrow-color: blue;
    scrollbar-base-color: blue;
    scrollbar-color: aqua;
    
    &::-webkit-scrollbar{
        width: 15px;
    }
    &::-webkit-scrollbar-track{
        background-color: black;
    }
    &::-webkit-scrollbar-thumb{
        background-color: blueviolet;
    }
    &::-webkit-scrollbar-track-piece{
        background-color: black;
    }
     scrollbar-color: blueviolet black;
     overflow-x: hidden;
     /* scrollbar firefox */


}
.simplebar-scrollbar::before{
    background-color: black;
}
.socials-elements{
    overflow: hidden;
    width: 90%;
    background-color: white;
    height:30px;
    margin-bottom: 15px;
    /* text-align: center; */
    display: inline-flex;
    flex-flow: column wrap;
    /* align-items: end; */
    justify-items: safe;
    
}
.p_socials{
    display: inline;
    color: black;
    /* margin: 5px; */
    /* place-self: center; */
    justify-self: center;
    /* align-self: self-end; */
    height: var(--one-hundred-percent);
}
.simplebar-placeholder{
    
    height: 10px!important;
}